@import 'variables.scss';
.fact{

  &__list{
    display: flex;
    margin: 0;
    padding: 0;
  }

  &__list-item{
    list-style: none;
    background-color: #1c2a33;   
    width: 100%;
    text-align: center;
    border-top: 7px solid $colorBase;
    color: $colorBase;
    cursor: pointer;
    padding-bottom: 55px;
    margin: 0 auto;
    cursor: pointer;

    &:hover{
      .fact__icon{
       transform: scale(1.1);
      }
    }

    &:nth-child(2),
    &:nth-child(4){
      background-color: $colorBase;
      border-top-color:#1c2a33 ;

      .fact__title{
        color:#1c2a33 ;
      }

      .fact__icon{
       background-color: #1c2a33 ;

       &:before{
        border-color:#1c2a33 ;
       }
      }
    }   
  }

  &__count{
    opacity: 0;
    font-family: $fontBase;
    font-size: $fontSize + 16;
  }

  &__title{
    font-family: $fontBase;
    font-size: $fontSize - 2;
    font-weight: 300;
    color:$colorBase;
  }

  &__icon{
    margin: 0 auto;
    margin-top: 88px;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background-color: $colorBase;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    transition-duration: 0.3s;

    &:before{
      content: '';
      width: 165px;
      border-radius: 50%;
      height: 165px;
      border: 2px solid $colorBase;
      background-color: transparent;
      display: block;
      position: absolute;
      top:-30px;
      left: -30px;
    }
  }
}

