@import 'variables.scss';
.about-company{
  background-image: url(../img/aboutcompany.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;  
  padding-top: 100px;

  &__img-block{   
    width: 50%;
    margin-top: 53px;
    margin-right: 75px;  
  }

  &__img{
    width: 100%;
  }
  
  &__title{
    font-size: 36px;
    font-family: $fontBase;
    font-weight: 400;
    position: relative;
  }
  
  &__tabs{    
     max-width: 560px;
     width: 100%;
  }

  &__tabs-list{
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    margin-bottom: 60px;
    margin-top: 100px;
  }
  
  &__tabs-item{
    text-transform: uppercase;
    margin-right: 20px;
    border-top: 2px solid transparent;
    cursor: pointer;
    padding-top: 8px;
    outline: none;
    transition-duration: 0.3s;

    &:hover{
      border-top-color: $colorBase;
      .about-company__tabs-link{
        color: $colorBase;
      }
    }
    
    &:last-child{
      margin-right: 0;
    }
  }

  &__tabs-link{
    font-size: 16px;
    font-weight: bold;
    font-family: $fontBase;
  }
}
  
  
.tabs{
  margin-bottom: 55px;

  &--fix{
    margin-bottom: 131px;
  }

  &--skill{
    margin-bottom: 66px;
  }
}

.tabs-description{
  color: #bebebe;
  font-family: $fontBase;
  font-size: 14px;
  font-weight: 300;  
}
.list-history{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  padding-top: 50px;

  &__item{
    margin-right: 43px;
    padding-bottom: 15px;
    display: flex;
    align-items: center;
  }

  svg{
    margin-right: 17px;
  }
}

.skills {
  position: relative;
  display: block;
  margin-bottom: 15px;
  border: 1px solid #959595;
  height: 35px;
  border-radius: 3px;
  max-width: 550px;
  transition-property: width, background-color;

  .title {
    position: absolute;
    font-size: 13px;
    top: 0;
    font-family: $fontBase;
    border-radius: 3px;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
    transition-duration: 0.5s;

    &:hover{
      color: #FFC073;
      background-color: rgba(76, 85, 214, 0.205);
    }
  }
    
  .title span {
    display: block;
    padding: 0 20px;
    height: 35px;
    line-height: 35px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }

  .skill-bar {
    height: 35px;
    border-radius: 3px;
    width: 0;
    border: none;      
  }
}
